<IfModule mod_rewrite.c>
    RewriteEngine On

    # Removing trailing slash
    RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php/$1 [L]

</IfModule>
