body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-size: 17px;
}

header {
	position: relative;
	z-index: 2;
}

h1 {
	margin-top: 0;
}

h5,
h6 {
	line-height: 1.4;
}

.full-height {
	flex: 1;
}

.auth-lang-switcher {
	list-style-type: none;
}

.wrapper {
	position: relative;
	z-index: 1;
}

.remember-box {
	text-align: right;
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

main>div:first-child {
	padding-top: 50px;
}

.main-wrapper {
	flex: 1 0 auto;
}

.post-form {
	position: relative;
}

.main-menu-link {
	font-size: 1rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.main-menu-link>* {
	vertical-align: middle;
}

.login-list {
	display: flex;
}

.footer-text {
	font-size: 13px;
}

.page-footer {
	padding-top: 0;
}

.page-footer .row {
	margin-bottom: 0;
}

#dropdown2 {
	width: auto !important;
}

.transparent.no-box {
	background-color: transparent;
	box-shadow: none;
}

.back-btn {
	position: absolute;
	top: 8px;
	padding: 0;
	left: 15px;
}

.back-btn i {
	color: #00bfa5;
	font-size: 24px;
}

.high-z {
	z-index: 300000 !important;
}

.teal .input-field label {
	color: #fff !important;
}

.teal .input-field input,
.teal .input-field textarea {
	border-bottom: 1px solid #fff !important;
	color: #fff !important;
}

.teal .input-field input:focus+label,
.teal .input-field textarea:focus+label {
	color: #fff !important;
}

.teal .input-field input:focus,
.teal .input-field textarea:focus {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff !important;
}

.teal .input-field input.invalid,
.teal .input-field textarea.invalid {
	border-bottom: 1px solid #F44336 !important;
	-webkit-box-shadow: 0 1px 0 0 #f44336 !important;
	box-shadow: 0 1px 0 0 #f44336 !important;
}

.teal .input-field input.valid,
.teal .input-field textarea.valid {
	border-bottom: 1px solid #fff !important;
	box-shadow: 0 1px 0 0 #fff !important;
}

.teal input:focus {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}

.input-field .prefix.active {
	color: #fff !important;
}

.checkbox-white[type="checkbox"]+label:before {
	border: 2px solid indigo;
	background: transparent;
}

.checkbox-white[type="checkbox"]:checked+span:not(.lever):before {
	border: 2px solid transparent;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	background: transparent;
}

.checkbox-white[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
	border: 2px solid #ffffff;
}

.material-alert {
	position: relative;
	min-width: 150px;
	padding: 15px;
	margin-bottom: 20px;
	margin-top: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: all 0.1s linear;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.material-alert .material-icons {
	margin-right: 10px;
}

.material-alert .close-alert {
	-webkit-appearance: none;
	border: 0;
	cursor: pointer;
	color: inherit;
	background: 0 0;
	font-size: 22px;
	line-height: 1;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	filter: alpha(opacity=40);
	margin-bottom: -5px;
	position: absolute;
	top: 16px;
	right: 5px;
}

.material-alert.info {
	background-color: #039be5;
	color: #fff;
}

.material-alert.success {
	background-color: #43a047;
	color: #fff;
}

.material-alert.error {
	background-color: #c62828;
	color: #fff;
}

.material-alert.danger {
	background-color: #c62828;
	color: #fff;
}

.material-alert.warning {
	background-color: #fbc02d;
	color: #fff;
}

.material-alert ul {
	margin: 0;
}

.signup-form a {
	color: #fff;
}

a:hover {
	opacity: .9;
}

.index-links {
	padding-top: 20px;
}

.index-links a {
	padding: 0 10px;
}

.logo-block {
	margin-bottom: 2.8rem;
}

.logo-block img {
	width: 150px;
	max-width: 100%;
}

.navbar-logo {
	height: 100%;
	display: inline-block;
	margin-left: 10px;
}

.navbar-logo img {
	max-height: 100%;
	height: 50px;
	margin-top: 6px;
}


.post-item {
	margin-bottom: 15px;
}

.post-item .row {
	margin-bottom: 0px !important;
}

.post-card {
	margin: 0;
}

.card-image-box {
	height: 350px;
	border-bottom: 1px solid #ddd;
}

.post-title {
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

.card-image-box img {
	max-height: 100%;
	object-fit: cover;
}

.card-image-box .content_no_img {
	object-fit: contain;
}

.post-title a {
	font-weight: 400;
	font-size: 22px;
}

.post-author {
	color: white;
	font-size: 12px;
}

.post-date {
	color: white;
	font-size: 14px;
}

.p-rel {
	position: relative;
}

.visibility-icon {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.visibility-icon::selection {
	background: transparent;
}

.col>.visibility-icon {
	right: 15px;
}

input[type=password] {
	padding-right: 20px !important;
	box-sizing: border-box !important;
}

/*bubbles  animation styles start*/
.bg-bubbles {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	z-index: 0;
	pointer-events: none;
}

.bg-bubbles li {
	position: fixed;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.15);
	bottom: -160px;
	animation: square 25s infinite;
	transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
	left: 10%;
}

.bg-bubbles li:nth-child(2) {
	left: 20%;
	width: 80px;
	height: 80px;
	animation-delay: 2s;
	animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
	left: 25%;
	animation-delay: 4s;

}

.bg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-duration: 22s;
	background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
	left: 70%;
}

.bg-bubbles li:nth-child(6) {
	left: 80%;
	width: 120px;
	height: 120px;
	animation-delay: 3s;
	background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 160px;
	animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	animation-delay: 15s;
	animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;
	animation-delay: 2s;
	animation-duration: 40s;
	background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
	left: 90%;
	width: 160px;
	height: 160px;
	animation-delay: 11s;
}

@keyframes square {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1200px) rotate(600deg);
	}
}

/*bubbles  animation styles end*/

@media only screen and (max-width: 992px) {
	main>div:first-child {
		padding-top: 15px;
	}

	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.5625rem;
	}

	h5 {
		font-size: 1.2rem;
		line-height: 1.4;
	}

	h6 {
		font-size: 1.15rem;
		line-height: 1.4;
	}

	.logo-block img {
		width: 85px;
	}

	.remember-box {
		text-align: left;
	}

	.post-title a {
		font-size: 1.5rem;
		line-height: 1.2;
	}
}


.teal input:-webkit-autofill,
.teal input:-webkit-autofill:hover,
.teal input:-webkit-autofill:active,
.teal input:-webkit-autofill:focus,
.teal input:-webkit-autofill:focus-within,
.teal textarea:-webkit-autofill,
.teal textarea:-webkit-autofill:hover,
.teal textarea:-webkit-autofill:focus,
.teal textarea:-webkit-autofill:focus-within,
.teal textarea:-webkit-autofill:active,
.teal select:-webkit-autofill,
.teal select:-webkit-autofill:hover,
.teal select:-webkit-autofill:focus,
.teal select:-webkit-autofill:focus-within,
.teal select:-webkit-autofill:active,
.teal .input-field input.valid, .teal .input-field textarea.valid,
.teal input:-internal-autofill-selected {
	appearance: none;
	background-color: transparent !important;
	background-image: none !important;
	color: -internal-light-dark(black, white);
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0px 1000px #00bfa5 inset !important;

}

.content_img {
	height: 350px;
	object-fit: cover;
}

.single_page_img {
	max-width: 100%;
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: top;
}

.single_page_no_img {
	width: 23% !important;
}

.single-blog-title {
	font-size: 32px;
	margin-top: 0;
	padding: 0 35px;
}

.single-blog-title:after {
	content: "";
	display: block;
	width: 80px;
	height: 2px;
	margin: 15px auto;
	background: #009688;
	border-radius: 4px;
}

.upload-btn .btn:hover, .submit-btn:hover,
.upload-btn .btn, .submit-btn {
	color: #26a69a;
	background-color: #fff;
	transition: opacity 0.2s linear;
}

.upload-btn .btn:hover, .submit-btn:hover {
	opacity: 0.9;
}

.single-blog-txt {
	line-height: 1.7;
	word-break: break-word;
}

.post-image {
	position: relative;
	width: 190px;
	max-height: 150px;
	margin-bottom: 10px;
}

.update_page_img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

.content_no_img {
	height: 350px;
	width: 65%;
	margin: auto;
	object-fit: contain;
}

div.polaroid {
	width: 1000px;
	margin: 0px auto;
	padding: 0 20px 20px;
	position: relative;
}

.post_image {
	width: 90px;
	height: auto;
	margin: auto;
	display: flex;
}

.image_delete {
	position: absolute;
	right: 3px;
	top: 3px;
	padding: 1px 8px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.modal {
	text-align: center;
	width: 33%;
	max-height: 50%;
}

.modal-footer .modal-close {
	margin-right: 0 !important;
}

.character-counter {
	color: #fff;
}

.edit-my-post {
	right: 50px;
}

.img-my-post {
	width: 60px !important;
	height: 60px !important;
	left: 5px !important;
}

.post-title {
	font-size: 20px !important;
}

.avatar p {
	font-size: 15px;
}

.sidenav {
	width: unset !important;
	min-width: 300px !important;
}

.sidenav-overlay {
	position: absolute !important;
	z-index: 1 !important;
}

@media only screen and (max-width: 1500px) {
	.content_no_img {
		width: 100% !important;
	}
}

@media only screen and (max-width: 1200px) {
	div.polaroid {
		width: 80%;
	}
}

@media only screen and (max-width: 993px) {
	div.polaroid {
		width: 100%;
	}

	.sidenav li>a>i.material-icons {
		margin-right: 15px !important;
	}
}

@media only screen and (max-width: 600px) {
	.navbar-logo img {
		height: 44px;
	}
}