div.phpdebugbar-header, a.phpdebugbar-restore-btn {
  background: #efefef url(img/quantum_favicon.ico)  no-repeat 5px 4px / 20px 20px;
}

a.phpdebugbar-tab.phpdebugbar-active {
  background: rgb(92, 199, 178);
  color: #fff;
  background-image: linear-gradient(bottom, rgb(92, 199, 178) 41%, rgb(92, 199, 178) 71%);
  background-image: -o-linear-gradient(bottom, rgb(92, 199, 178) 41%, rgb(92, 199, 178) 71%);
  background-image: -moz-linear-gradient(bottom, rgb(92, 199, 178) 41%, rgb(92, 199, 178) 71%);
  background-image: -webkit-linear-gradient(bottom, rgb(92, 199, 178) 41%, rgb(92, 199, 178) 71%);
  background-image: -ms-linear-gradient(bottom, rgb(92, 199, 178) 41%, rgb(92, 199, 178) 71%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.41, rgb(92, 199, 178)), color-stop(0.71, rgb(92, 199, 178)));
}

a.phpdebugbar-tab span.phpdebugbar-badge {
  display: none;
  margin-left: 5px;
  font-size: 11px;
  line-height: 14px;
  padding: 0 6px;
  background: rgb(92, 199, 178);
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  vertical-align: middle;
}
a.phpdebugbar-tab.phpdebugbar-active span.phpdebugbar-badge {
  background: #fff;
  color: rgb(92, 199, 178);
}
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter {
  float: right;
  font-size: 12px;
  padding: 2px 4px;
  background: #5cc7b2;
  margin: 0 2px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-collector, div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-label {
  float: right;
  font-size: 12px;
  padding: 2px 4px;
  color: #5cc7b2;
  margin: 0 2px;
  text-decoration: none;
  text-shadow: none;
  background: none;
  font-weight: normal;
}
