div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-collector,
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-label {
  float: right;
  font-size: 12px;
  padding: 2px 4px;
  color: #5cc7b2;
  margin: 0 2px;
  text-decoration: none;
  text-shadow: none;
  background: none;
  font-weight: normal;
}

div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter {
  float: right;
  font-size: 12px;
  padding: 2px 4px;
  background: #5cc7b2;
  margin: 0 2px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

